.text-center {
  text-align: left;
}
.cart-table {
  text-align: center;
}
.cart-table-prd:first-of-type {
  padding-top: 30px;
}
.cart-table-prd {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #f7f7f7;
  padding-top: 15px;
  padding-bottom: 15px;
}
.img-fluid {
  width: 300px;
  margin-left: -40px;
}
.cart-table-prd > * {
  display: table-cell;
  vertical-align: middle;
}

.cart-table-prd-action > a {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  color: rgba(255, 192, 74, 0.774);
  text-decoration: none;
}
.cart-table-prd-action {
  width: 140px;
  padding-left: 20px;
}
.cart-table-prd-price,
.cart-table-prd-qty {
  font-size: 15px;
  line-height: 18px;
  color: #424242;
  text-transform: uppercase;
}
.cart-table-prd-price {
  width: 15%;
  display: table-cell;
  vertical-align: middle;
}
.cart-table-prd-name h5,
.cart-table-prd-name h5 a {
  font-size: 11px;
  line-height: 1.2em;
  color: #424242;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.cart-table-prd-name h2,
.cart-table-prd-name h2 a {
  font-size: 14px;
  line-height: 1.6em;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

.page-content {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.btn-cart {
  display: inline-block;
  padding: 13px 40px;
  background: rgba(255, 186, 59, 0.719);
  color: black;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  width: 70%;
}

.btn-cart:hover {
  border: 2px solid var(--text-dark);
  background: transparent;
  color: var(--text-color);
}

.totalform {
  width: 400px;
  padding: 10px;
  background: white;
  border-radius: 04px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  margin-left: 68rem;
}

.text-total {
  text-align: left;
  margin-left: 10px;
  width: 150px;
}

.text-money {
  display: inline block;
  text-align: right;

  width: 150px;
}
