.gal-page {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: 150px;

}
.gal-main {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.gal-images {
  display: grid;
  grid-template-columns: auto auto auto;
}
.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.container {
  text-align: center;
  padding: 10px 20px;
}
.gal-left-layout {
  width: 100%;
  text-align: center;

  margin-top: 20px;
}
.gal-num-type {
  margin-left: 600px;
  display: flex;
}
.gal-num-type p {
  padding-right: 10px;
  padding-left: 10px;
}
.gal-img {
  display: flex;
  margin-top: 20px;

  text-align: center;
  width: 100%;
}
.gal-img p {
  padding-left: 20px;
  padding-right: 50px;
}
.Entry-number {
  width: 50px;
  height: 30px;

  background: rgba(255, 255, 250, 0.26);
  color: red;
  border: 0;
  outline: none;
}
.Entry-type {
  width: 200px;
  height: 30px;

  background: rgba(255, 255, 250, 0.26);
  color: red;
  border: 0;
  outline: none;
}
.add-modif-btn {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.btn-add-pic {
  margin-left: 10px;
  width: 150px;
  height: 50px;
  background-color: rgba(134, 212, 134, 0);
  border-radius: 4px;
  border: 2px solid rgb(8, 121, 8);
 
 
}

.btn-add-pic:hover{
  background-color: rgb(8, 121, 8);
  color: white;
}



.del-pic {
  margin-left: 85%;
  height: 30px;
  background-color: rgba(235, 0, 0, 0);
  border-radius: 4px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 3px;
  
}

.del-pic:hover
{
  margin-left: 85%;
  height: 30px;
 
  border: 1;
  color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
}
.btn-del-clear {
  margin-left: 10px;
  width: 150px;
  height: 30px;
  background-color: rgb(243, 91, 91);
  border: 0;
  border-radius: 5px;
}
.gal-bottom-layout {
  padding-bottom: 30px;
}


